@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
  font-family: 'Lato', sans-serif;
  /* background-color: #D9F5FF; */
  
  /* background-repeat: no-repeat; */
}
.App {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(130deg, rgb(33, 150, 243), rgb(103, 214, 205));
  box-shadow: rgb(33 150 243 / 68%) 0px 0px 1rem 2px;
  border-radius: 10px;
  margin-top: 3%;
  padding-bottom: 5%;
}
.header{
  padding: 2% 0;
  font-size: 19px;
  color: #fff;
}
.header h2 {
  text-transform: uppercase;
  font-weight: 800;
}
.form-add-money input[type="number"]{
    font-size: inherit;
    padding: 7px 17px;
    border: 0px;
    border-radius: 5px;
    outline: none;
}
.form-add-money input[type="submit"] {
  display: block;
  margin: 21px auto 0px;
  font-size: inherit;
  padding: 8px 7px;
  width: 230px;
  border: 0px;
  border-radius:5px;
  cursor: pointer;
  background-color: #060708;
  color: #fff; 
  }
  
  .from--add-money p {
  color:#fff;
  font-weight: 500;
  }
  p.error{
  color: #fff;
  background-color: #d52121;
  display: inline-block;
  padding: 1px 18px 4px;
  border-radius: 7PX; 
  font-weight: 400;
  display: block;
  }